$GREEN_SIDER: #5c7e8d;
$GREEN_HEADER: #668c9d;
$GREEN_INPUT: #799aa9;
$WHITE_SIDER: #f7f7f7;
$WHITE: #ffffff;
$BLACK_TEXT: #474747;
$WHITE_TEXT: #f8fafb;
$BLUE_TEXT: #528adb;
$BLUE_SIDER_SELECTED: #e2eefb;
